.App {
  text-align: center;
}



/* .App-header {
  width: 60%;
  margin-left: 80px;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.choice {
  list-style: none;
}

input[type=radio]:checked+label {
  color: red;
  font-style: italic;
}

header {
  text-align: center;
}

.logo-image {
  margin-top: 20px;
  margin-bottom: 40px;
}